// @font-face {
//   font-family: "Harmony_Regular";
//   // src: url("/public/font/HarmonyOS_Sans_SC_Regular.ttf");
//   src: url("https://cdn.jsdelivr.net/gh/yw738/public@main/HarmonyOS_Sans_SC_Regular.woff2");
// }
// body {
//   font-family: "Harmony_Regular", sans-serif;
//   //   https://cdn.jsdelivr.net/gh/yw738/public@main/HarmonyOS_Sans_SC_Regular.ttf
//   //   https://cdn.jsdelivr.net/gh/yw738/public@main/HarmonyOS_Sans_SC_Regular.woff2
// }

.txtOverFlow3 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
}

.txtOverFlow3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.txtOverFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*滚动条的宽度*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
}

/*火狐滚动条样式*/
* {
  scrollbar-color: #e0e0e0 #f7f7f9; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}

.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w1200 {
  width: 1200px;
}
.w1280 {
  width: 1280px;
}
// .w1280 {
//   width: 1200px;
// }
.mAuto {
  margin: 0px auto;
}
.margin0 {
  margin: 0px !important;
}
.marginB0 {
  margin-bottom: 0px !important;
}

.marginB5 {
  margin-bottom: 5px;
}
.marginB8 {
  margin-bottom: 8px;
}
.marginB10 {
  margin-bottom: 10px;
}

.marginB15 {
  margin-bottom: 15px;
}
.marginB20 {
  margin-bottom: 20px;
}
.marginB22 {
  margin-bottom: 22px;
}
.marginB30 {
  margin-bottom: 30px;
}
.marginB40 {
  margin-bottom: 40px;
}
.marginT8 {
  margin-top: 8px;
}
.marginT10 {
  margin-top: 10px;
}
.marginT15 {
  margin-top: 15px;
}
.marginT20 {
  margin-top: 20px;
}
.marginR5 {
  margin-right: 5px;
}
.marginR3 {
  margin-right: 3px;
}
.marginR10 {
  margin-right: 10px;
}
.marginR15 {
  margin-right: 15px;
}
.marginR20 {
  margin-right: 20px;
}
.marginR30 {
  margin-right: 30px;
}
.marginL5 {
  margin-left: 5px;
}
.marginL10 {
  margin-left: 10px;
}
.marginL20 {
  margin-left: 20px;
}

.pb8 {
  padding-bottom: 8px;
}

.flexWrap {
  flex-wrap: wrap;
}
.flexItemSt {
  align-items: flex-start !important;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.borderRed {
  border: 1px solid red;
}
.cPoint {
  cursor: pointer;
}
.cDefault {
  cursor: default;
}
.txtLeft {
  text-align: left;
}
.txtCenter {
  text-align: center;
}
.txtEnd {
  text-align: end;
}
.txtHover:hover {
  color: #1677ff !important;
}

.txtHover2:hover {
  color: #0075c2 !important;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// ==========================================
.ant-menu-title-content {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  transition: none;
}

.ant-layout-sider {
  background: #fff !important;
  border-right: 1px solid #e4ddd2;
}
.ant-layout-header {
  // height: 74px !important;
  // line-height: 74px !important;
  box-sizing: border-box;
  background: #fdfdfd !important;
}
.ant-menu {
  background: transparent !important;
  border: 0 !important;
}

.ant-menu-item-active {
  background: #e6f4ff !important;
}
// 菜单样式
.ant-menu-item {
  padding: 0 24px !important;
}
.ant-menu-item-selected {
  background: #1770fe !important;
  .ant-menu-title-content {
    color: #fff !important;
    .icon {
      fill: #fff !important;
    }
  }
}

.ant-menu-inline .ant-menu-item-selected::after {
  opacity: 0 !important;
}
// -----------侧边栏icon 的样式----------

.ant-tooltip-placement-right {
  .icon {
    fill: #fff !important;
    // width: 20px;
    // height: 20px;
  }
}
.custom_icon {
  // width: 20px !important;
  // border: 1px solid red;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  .icon {
    fill: #333;
  }
  svg {
    float: left;
  }
}
.anticon,
.anticon-appstore {
}
//
.boxShadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

// 更改 tooltip 的css
// :where(.css-dev-only-do-not-override-1hsjdkk).ant-tooltip .ant-tooltip-inner {
//   background-color: #fff;
//   color: #000;
// }
// :where(.css-dev-only-do-not-override-1hsjdkk).ant-tooltip {
//   --antd-arrow-background-color: #fff;
// }

.no-click-event {
  pointer-events: none;
}
.c5f {
  color: #5f5f5f;
}
.c5d6c82 {
  color: #5d6c82;
}
.c999 {
  // color: #999;
  color: #333;
}
.c666 {
  color: #666;
}
.cfff {
  color: #fff;
}
.c333 {
  color: #333;
}
.cAd8 {
  color: #ad8c6d;
}

.c3370ff {
  color: #3370ff;
}
.c1677ffc7 {
  color: #1677ffc7;
}
.c1677ff {
  color: #1677ff;
}
.succss {
  color: #308921;
}

.red {
  color: #ff5f00;
}
.cEf4040 {
  color: #ef4040;
}
.cDe0629 {
  color: #de0629;
}

.f12 {
  // font-size: 12px;
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
.f30 {
  font-size: 30px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.ls1 {
  letter-spacing: 1px;
}

.fw700 {
  font-weight: 700;
}
.lh19 {
  line-height: 19px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh28 {
  line-height: 28px;
}
.lh24 {
  line-height: 24px;
}
.lh30 {
  line-height: 30px;
}
.lh32 {
  line-height: 32px;
}
.lh36 {
  line-height: 36px;
}
.lh56 {
  line-height: 56px;
}
.fti {
  font-style: italic;
}

.bB {
  border-bottom: 1px solid #dfe1e6;
}
.txt2em {
  text-indent: 2em;
}

.ant-message {
  z-index: 9999999999999 !important;
}

.ParameterBox {
  span {
    width: 110px !important;
    display: inline-block !important;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
}
